{% extends 'base.html.twig' %}
{% block body %}
<div class="jumbotron text-center">
    <h1 class="display-4 font-weight-bold">Wishlist</h1>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-rose btn-lg" href="#" role="button">Learn more</a>
</div>
<div class="container">
    <div class="row">
        <div class="w-100 p-3">
            <div class="card-header">
                <h2>Actuelle liste</h2>
                <ul class="list-group">
                    {% for user in users %}
                    <li class="list-group-item">{{ user.email }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}